@charset "utf-8";
@import url('reset.css');
@import url('font.css');

body {
    font-family: 'Pretendard', 'Noto Sans KR';
    overflow-x: hidden;
}

.inner {
    max-width: 1720px;
    margin: 0 auto;
}


/* 헤더 */
.header {
    position: relative;
}

.header .inner {
    max-width: 1920px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #100F0D;
}

.header .inner .text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 70px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.header .inner .text a:hover {
    text-decoration: underline;
}

.header .inner .icon {
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 30px;
    align-items: center;
}


/* 네비게이션 */
.header-2 .inner {
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-2 .inner .logo {
    width: 140px;
}

.header-2 .inner .logo img {
    width: 100%;
}

.header-2 .inner .menu {
    margin: 0 auto;
    display: flex;
    gap: 80px;
    font-size: 24px;
    font-weight: 600;
    align-items: center;
}

.header-2 .inner .menu li:nth-child(6) {
    color: #c9192c;
}

.header-2 .inner .menu li:hover {
    color: #c9192c;
}


/* 메인비주얼 */
.visual .inner {
    height: 700px;
    position: relative;
}

.visual iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.visual .text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 200px;
}

.visual .text h1 {
    font-size: 36px;
    /* 48px; */
    font-weight: 700;
}

.visual .text p {
    font-size: 24px;
    /* 30px; */
    font-weight: 400;
    margin-bottom: 40px;
}

.visual .text a {
    font-size: 20px;
    /* 30px; */
    font-weight: 500;
    padding: 20px 30px;
    text-align: center;
    background-color: #100F0D;
    color: #fff;
}

.visual .text a:hover {
    background-color: #c9192c;
}


/* 메인 */
.main .inner {
    display: flex;
    flex-direction: column;
    gap: 200px;
    color: #1c1c1c;
}

.main .inner .new,
.main .inner .recommend {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 40px 0;
}

.main .inner .new h1,
.main .inner .recommend h1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
}

.main .inner .list {
    display: flex;
    justify-content: space-between;
}

.main .inner .item {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center;
}

.main .inner .item img {
    width: 100%;
    object-fit: cover;
}

.main .inner .item .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 1.5;
}

.main .inner .new .item .text h2 {
    font-size: 24px;
    font-weight: 700;
    color: #C9192C;
}

.main .inner .new .item .text p,
.main .inner .recommend .item .text p {
    font-size: 20px;
    font-weight: 400;
}

.main .inner .new .item .text span,
.main .inner .recommend .item .text span {
    font-size: 22px;
    font-weight: 500;
}


/* 티셔츠 */
.clothes .inner {
    padding: 200px 0;
    color: #1c1c1c;
}

.clothes .inner .list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
}

.clothes .inner .item {
    width: 600px;
}

.clothes .inner .item img {
    width: 100%;
    object-fit: cover;
}

.clothes .inner .item .text {
    position: absolute;
    line-height: 1.5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.clothes .inner .item .text h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.clothes .inner .item .text h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}

.clothes .inner .item .text p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 100px;
}

.clothes .inner .item .text a {
    font-size: 20px;
    font-weight: 500;
    padding: 20px 30px;
    text-align: center;
    background-color: #100F0D;
    color: #fff;
}

.clothes .inner .item .text a:hover {
    background-color: #c9192c;
}


/* 푸터 */
.footer {
    max-width: 1920px;
    background-color: #100F0D;
    color: #fff;
}

.footer .inner {
    width: 100%;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    line-height: 1.5;
}

.footer .inner .logo {
    width: 160px;
}

.footer .inner .logo img {
    width: 100%;
    object-fit: cover;
}

.footer .inner .box {
    max-width: 1420px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer .inner .box .top {
    display: flex;
    justify-content: space-between;
}

.footer .inner .box .top .menu {
    display: flex;
    gap: 120px;
}

.footer .inner .box .top .menu li {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer .inner .box .top .menu li h2,
.footer .inner .box .top .link h2 {
    font-size: 20px;
    font-weight: 600;
}

.footer .inner .box .top .menu li a {
    font-size: 16px;
    color: #5d5d5d;
}

.footer .inner .box .top .menu li a:hover {
    text-decoration: underline;
}

.footer .inner .box .top .link {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer .inner .box .top .link ul {
    display: flex;
    gap: 10px;
}

.footer .inner .box .bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
}
.footer .inner .box .bottom .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* margin-left: 400px;
    padding-top: 20px; */
    color: #5d5d5d;
}

.footer .inner .box .text a,
.footer .inner .box .text span {
    color: #fff;
}



.footer .inner .notice {
    /* position: absolute;
    top: 80%;
    left: 90%;
    transform: translate(-90%, -80%); */
}