@charset "utf-8";
@import url('reset.css');
@import url('font.css');

body {
    font-family: 'Pretendard', 'Noto Sans KR';
    overflow-x: hidden;
}

.inner {
    max-width: 1720px;
    margin: 0 auto;
}


/* 헤더 */
.header {
    position: relative;
}

.header .inner {
    max-width: 1920px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #100F0D;
}

.header .inner .text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 70px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.header .inner .text a:hover {
    text-decoration: underline;
}

.header .inner .icon {
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 30px;
    align-items: center;
}


/* 네비게이션 */
.header-2 .inner {
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-2 .inner .logo {
    width: 140px;
}

.header-2 .inner .logo img {
    width: 100%;
}

.header-2 .inner .menu {
    margin: 0 auto;
    display: flex;
    gap: 80px;
    font-size: 24px;
    font-weight: 600;
    align-items: center;
}

.header-2 .inner .menu li:nth-child(6) {
    color: #c9192c;
}

.header-2 .inner .menu li:hover {
    color: #c9192c;
}


/* 메인비주얼 */
.visual .inner {
    height: 700px;
    position: relative;
}

.visual iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.visual .text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 200px;
}

.visual .text h1 {
    font-size: 36px;
    /* 48px; */
    font-weight: 700;
}

.visual .text p {
    font-size: 24px;
    /* 30px; */
    font-weight: 400;
    margin-bottom: 40px;
}

.visual .text a {
    font-size: 20px;
    /* 30px; */
    font-weight: 500;
    padding: 20px 30px;
    text-align: center;
    background-color: #100F0D;
    color: #fff;
}

.visual .text a:hover {
    background-color: #c9192c;
}


/* 메인 */
.main .inner {
    display: flex;
    flex-direction: column;
    gap: 200px;
    color: #1c1c1c;
}

.main .inner .new,
.main .inner .recommend {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 40px 0;
}

.main .inner .new h1,
.main .inner .recommend h1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
}

.main .inner .list {
    display: flex;
    justify-content: space-between;
}

.main .inner .item {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center;
}

.main .inner .item img {
    width: 100%;
    object-fit: cover;
}

.main .inner .item .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 1.5;
}

.main .inner .new .item .text h2 {
    font-size: 24px;
    font-weight: 700;
    color: #C9192C;
}

.main .inner .new .item .text p,
.main .inner .recommend .item .text p {
    font-size: 20px;
    font-weight: 400;
}

.main .inner .new .item .text span,
.main .inner .recommend .item .text span {
    font-size: 22px;
    font-weight: 500;
}


/* 티셔츠 */
.clothes .inner {
    padding: 200px 0;
    color: #1c1c1c;
}

.clothes .inner .list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
}

.clothes .inner .item {
    width: 600px;
}

.clothes .inner .item img {
    width: 100%;
    object-fit: cover;
}

.clothes .inner .item .text {
    position: absolute;
    line-height: 1.5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.clothes .inner .item .text h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.clothes .inner .item .text h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}

.clothes .inner .item .text p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 100px;
}

.clothes .inner .item .text a {
    font-size: 20px;
    font-weight: 500;
    padding: 20px 30px;
    text-align: center;
    background-color: #100F0D;
    color: #fff;
}

.clothes .inner .item .text a:hover {
    background-color: #c9192c;
}


/* 푸터 */
.footer {
    background-color: #100F0D;
    color: #fff;
}

.footer .inner {
    max-width: 1920px;
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer .inner .logo {
    width: 160px;
}

.footer .inner .logo img {
    width: 100%;
    object-fit: cover;
}

.footer .inner .box {
    display: flex;
    justify-content: space-between;
}

.footer .inner .box .left {
    display: flex;
    flex-direction: column;
    gap: 80px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.footer .inner .box .left .menu {
    display: flex;
    gap: 120px;
}

.footer .inner .box .left .menu li {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #5d5d5d;
}

.footer .inner .box .left .menu li h2 {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.footer .inner .box .left .menu li a:hover {
    text-decoration: underline;
    color: #c9192c;
}

.footer .inner .box .left .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer .inner .box .left .text ul {
    color: #5d5d5d;
    font-size: 14px;
}

.footer .inner .box .left .text ul li a {
    color: #fff;
}

.footer .inner .box .left .text ul li a:hover {
    text-decoration: underline;
}

.footer .inner .box .left .text ul li span {
    color: #fff;
}

.footer .inner .box .right {
    display: flex;
    flex-direction: column;
    gap: 140px;
}

.footer .inner .box .right .link {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer .inner .box .right .link h2 {
    font-size: 18px;
    font-weight: 500;
    columns: #fff;
}

.footer .inner .box .right .link ul {
    display: flex;
    gap: 10px;
}

.footer .inner .box .right .notice {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #5d5d5d;
}

.footer .inner .box .right .notice li a {
    color: #fff;
}

.footer .inner .box .right .notice li a:hover {
    text-decoration: underline;
}


/* 태블릿 (1024 이하) */
@media (max-width: 1024px) {

    /* 공통 */
    .inner {
        padding: 0 40px;
    }

    .header .inner .icon {
        gap: 20px;
    }

    .header .inner .icon img {
        width: 20px;
    }

    /* 네비게이션 */
    .header-2 .inner {
        gap: 40px;
        padding: 20px;
    }

    .header-2 .inner .logo {
        width: 100px;
    }

    .header-2 .inner .menu {
        gap: 40px;
        font-size: 18px;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* 메인 비주얼 */
    .visual .inner {
        height: 500px;
    }

    .visual .text {
        gap: 20px;
        margin: 40px 20px 100px;
    }

    .visual .text h1 {
        font-size: 24px;
    }

    .visual .text p {
        font-size: 18px;
        margin-bottom: 16px;
    }

    .visual .text a {
        font-size: 16px;
    }

    /* 메인 상품 영역 */
    .main .inner {
        gap: 100px;
    }

    .main .inner .list {
        display: flex;
        gap: 40px;
        align-items: baseline;
    }

    .main .inner .item {
        width: 100%;
        max-width: 300px;
    }

    .main .inner .new h1,
    .main .inner .recommend h1 {
        font-size: 24px;
    }

    .main .inner .new .item .text h2 {
        font-size: 16px;
    }

    .main .inner .new .item .text p,
    .main .inner .recommend .item .text p {
        font-size: 14px;
    }

    .main .inner .new .item .text span,
    .main .inner .recommend .item .text span {
        font-size: 16px;
    }

    /* 티셔츠 영역 */
    .clothes .inner {
        padding: 100px 20px;
    }

    .clothes .inner .list {
        gap: 10px;
    }

    .clothes .inner .item {
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
    }

    .clothes .inner .item .text {
        width: 90%;
    }

    .clothes .inner .item .text h2 {
        font-size: 16px;
    }

    .clothes .inner .item .text h3 {
        font-size: 24px;
    }

    .clothes .inner .item .text p {
        font-size: 14px;
        margin-bottom: 40px;
    }

    .clothes .inner .item .text a {
        font-size: 16px;
        padding: 12px 20px;
    }

    /* 푸터 */
    .footer .inner {
        padding: 60px 20px;
    }

    .footer .inner .box {
        flex-direction: column;
        gap: 60px;
    }

    .footer .inner .box .left .menu {
        flex-direction: column;
        gap: 40px;
    }

    .footer .inner .box .right {
        gap: 40px;
    }

    .footer .inner .logo {
        width: 120px;
    }
}


/* 모바일 (768px 이하) */
@media (max-width: 768px) {

    /* 공통 */
    .inner {
        padding: 0 20px;
    }

    /* 헤더 상단 제거 */
    .header .inner {
        display: none;
    }

    /* 네비게이션 */
    .header-2 .inner {
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }

    .header-2 .inner .logo {
        width: 100px;
    }

    .header-2 .inner .menu {
        gap: 20px;
        font-size: 16px;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* 메인 비주얼 */
    .visual .inner {
        height: 300px;
    }

    .visual .text {
        gap: 20px;
        margin: 40px 20px 100px;
    }

    .visual .text h1 {
        font-size: 24px;
    }

    .visual .text p {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .visual .text a {
        font-size: 16px;
        padding: 12px 20px;
    }

    /* 메인 상품 영역 */
    .main .inner {
        gap: 100px;
    }

    .main .inner .list {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .main .inner .item {
        width: 100%;
        max-width: 300px;
    }

    .main .inner .new h1,
    .main .inner .recommend h1 {
        font-size: 24px;
    }

    .main .inner .new .item .text h2 {
        font-size: 16px;
    }

    .main .inner .new .item .text p,
    .main .inner .recommend .item .text p {
        font-size: 14px;
    }

    .main .inner .new .item .text span,
    .main .inner .recommend .item .text span {
        font-size: 16px;
    }

    /* 티셔츠 영역 */
    .clothes .inner {
        padding: 100px 20px;
    }

    .clothes .inner .list {
        flex-direction: column;
        gap: 10px;
    }

    .clothes .inner .item {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    .clothes .inner .item .text {
        width: 90%;
    }

    .clothes .inner .item .text h2 {
        font-size: 16px;
    }

    .clothes .inner .item .text h3 {
        font-size: 24px;
    }

    .clothes .inner .item .text p {
        font-size: 14px;
        margin-bottom: 40px;
    }

    .clothes .inner .item .text a {
        font-size: 16px;
        padding: 12px 20px;
    }

    /* 푸터 */
    .footer .inner {
        padding: 60px 20px;
    }

    .footer .inner .box {
        flex-direction: column;
        gap: 60px;
    }

    .footer .inner .box .left .menu {
        flex-direction: column;
        gap: 40px;
    }

    .footer .inner .box .right {
        gap: 40px;
    }

    .footer .inner .logo {
        width: 120px;
    }
}